<%# <link href="signin.css" rel="stylesheet"> %>

<div class="transparent login-container">

<img src="<%=image_url('logo.png')%>">

<h1>Signup!</h1><br>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%# <%= render 'form', user: @user %>

<%# <%= link_to 'Back', users_path %>



<%= form_for @user, :html => {:class => "form-signin"} do |f| %>
<%= f.label :dj_name %><br>
<%= f.text_field :dj_name %><br><br>
<%= f.label :password %><br>
<%= f.text_field :password %><br><br>
<%= f.submit %><br><br>
<% end %>
<p>Already have an account? <%= link_to "Sign in", login_path %></p>

</div>
