<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album %>
</p>

<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>

<% if @song.url %>
<iframe src="<%= @song.url.split(".com/").join(".com/embed/") %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% end %>
<p>
  <strong>Lyrics:</strong>
  <%= simple_format(@song.new_lyrics) %>
</p>




<%= link_to 'Edit', edit_song_path(sid: params[:sid], pid: params[:pid]) %> |
<%= link_to 'Back', playlist_path(params[:pid]) %>
