<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @song.new_lyrics %>
</p>

<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>


<%= link_to 'Edit', edit_song_path(sid: params[:sid], pid: params[:pid]) %> |
<%= link_to 'Back', playlist_path(params[:pid]) %>
