<h1>Playlists</h1>

<p><%= link_to 'New Playlist', new_playlist_path %></p>
<p><%= link_to 'Find a new playlist', find_new_playlists_path %></p>
<p><%= link_to 'Add a playlist from Spotify', add_spotify_playlist_path%></p>
<p><%= link_to 'Go to the community feed', posts_path %></p>

<% if @playlists.size >0 %>

<%= render 'playlists_render'%>

<% else %>
  <h3>You're not following any playlists! Find a playlist, create one, or hit up the feed to see what's being shared!</h3>

<% end %>
<br>
