<p>
  <h1><%= @playlist.name %></h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @playlist.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @playlist.original_author_dj_name %>
</p>

<% if @playlist.url %>
<iframe src="<%= "https://open.spotify.com/embed/playlist/"+@playlist.url.split("/").last%>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% end %>

<% if @songs.length > 0 %>

<h2>Songs</h2>

  <% if @playlist.permission_to_edit?(current_user) && @playlist.permission_to_delete?(current_user)%>
    <% if @playlist.url %>
    <%= link_to 'Add Song to Playlist (Will not update embedded web player)', new_song_path(pid: @playlist.id) %> |
    <% else %>
    <%= link_to 'Add Song to Playlist', new_song_path(pid: @playlist.id) %> |
    <% end %>
  <%= link_to 'Edit Playlist Properties', edit_playlist_path(pid: @playlist.id) %> |
  <%= link_to 'Destroy', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% else %>
  <% end %>
<%= link_to 'Back', playlists_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, "/playlists/#{@playlist.id}/songs/#{song.id}"  %></td>
        <td><%= song.artist %></td>
        <% if @playlist.permission_to_edit?(current_user) && @playlist.permission_to_delete?(current_user)%>
        <td><%= link_to 'Remove from Playlist', "/playlists/#{@playlist.id}/songs/#{song.id}/remove", method: :delete %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<h2>This playlist has no songs on it. </h2>

<% end %>


