<!DOCTYPE html>
<html>
  <head>
    <title>Codechella</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  <p>You are logged in as: <%= current_user.dj_name %></p>
   <ul>
    <li><%= link_to "See the newsfeed", posts_path %><br></li>
    <li><%= link_to "Your playlists", playlists_path %><br></li>
    <li><%= link_to "Logout", logout_path, method: 'delete' %></li>
  </ul>
  ----------------------------------------
  <% end %>
    <%= yield %>
  </body>
</html>
